.top-nav {
  width: 100%;
  height: 50px;
  /* background-color: var(--primary-600); */
  background-color: #FFFFFF;
  color: var(--neutral-900);
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.dark .top-nav {
  background-color: var(--neutral-700);
  color: var(--neutral-100);
}

.top-nav > * {
  margin: 0 1rem;
}

main.main {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #FFFFFF;
  color: var(--neutral-900);
  transition: width 0.5s;
  z-index: 3;
}

.dark .sidebar {
  background-color: var(--neutral-800);
  color: var(--neutral-100);
}

.sidebar.open {
  width: 100vw;
}

.sidebar-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.close-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.content {
  color: var(--neutral-900);
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem;
}

.dark .content {
  color: var(--neutral-100);
}

@media only screen and (min-width: 768px) {
  .sidebar {
    position: relative;
    width: 16rem;
    z-index: 1;
    overflow: visible;
  }

  .sidebar.open {
    width: 0;
  }

  .sidebar.open * {
    display: none; /* agar konten tiak terlihat walaupun overflow: visible */
  }

  /* Sticky doesn't work when overflow value is not visible (overidden) */
  .sidebar-content {
    position: sticky;
    top: 75px;
  }

  .content {
    padding: 1rem 0.5rem;
  }
}