h1, h2, h3, h4, h5 {
  margin: 0.7rem 0;
}

hr {
  width: 75%;
  color: var(--neutral-700);
  font-weight: 300;
}

.dark hr {
  color: var(--neutral-300);
}

.h2 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--neutral-700);
  text-align: center;
}

.dark .h2 {
  color: var(--neutral-100);
}

.h-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--neutral-900);
  text-decoration: none;
  border-radius: 4px;
  column-gap: 1rem;
}

.menu.active {
  border-right: 3px solid var(--primary-400);
}

.dark .menu {
  color: var(--neutral-100);
}

.dark .menu.active {
  border-right: 3px solid var(--primary-500);
}

.menu:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.menu:active {
  background-color: rgba(0, 0, 0, 0.6);
}

.btn {
  padding: 0.6rem 1.8rem;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
}

.btn-icon {
  padding: 0.3rem 0.4rem;
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.btn-icon:active {
  background-color: rgba(0, 0, 0, 0.6);
}

.btn-icon * {
  pointer-events: none;
}

.btn-action {
  cursor: pointer;
  border-radius: 100%;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.icon.small {
  width: 1.5rem;
  height: 1.5rem;
}

.icon.large {
  width: 8rem;
  height: 8rem;
}

.primary {
  color: var(--primary-600);
}

.dark .primary {
  color: var(--primary-400);
}

.success {
  color: var(--success-600);
}

.dark .success {
  color: var(--success-400);
}

.danger {
  color: var(--danger-600);
}

.btn-primary {
  background-color: var(--primary-500);
  color: var(--neutral-100);
}

.btn-primary:hover {
  background-color: var(--primary-400);
}

.btn-danger {
  background-color: var(--danger-500);
  color: var(--neutral-100);
}

.btn-danger:hover {
  background-color: var(--danger-400);
}

.btn-secondary {
  background-color: var(--neutral-300);
}

.btn-secondary:hover {
  background-color: var(--neutral-200);
}

.dark .btn-secondary {
  background-color: var(--neutral-600);
  color: var(--neutral-100);
}

.dark .btn-secondary:hover {
  background-color: var(--neutral-700);
}

.btn-block {
  width: 100%;
}

.form-group label {
  font-size: 1.1rem;
  font-weight: 500;
}

.form-div {
  padding: 0.3rem 0.5rem;
  background-color: var(--neutral-300);
  margin: 0.6rem 0;
  border-radius: 4px;
}

.form-div.big {
  padding: 1rem 1.5rem;
}

.dark .form-div {
  background-color: var(--neutral-700);
}

.form-input::placeholder {
  color: var(--neutral-500);
  font-weight: 600;
}

.dark .form-input::placeholder {
  color: var(--neutral-400);
}

.form-input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1.1rem;
}

.dark .form-input {
  color: var(--neutral-100);
}

textarea.form-input {
  resize: vertical;
}

.dark select {
  background-color: var(--neutral-700);
}

.dropdown {
  position: relative;
}

.dropdown > ul {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 2.5rem;
  right: 0;
  list-style: none;
  padding: 0.3rem;
  background-color: #FFFFFF;
  color: var(--neutral-900);
  border-radius: 4px;
}

.dark .dropdown > ul {
  background-color: var(--neutral-700);
  color: var(--neutral-100);
}

.dropdown.open > ul {
  display: flex;
}

.dropdown > ul > li {
  margin: 0.7rem 0;
}

.dropdown > ul > li > a {
  padding: 0.5rem 1.8rem;
  border-radius: 4px;
  color: var(--neutral-900);
  text-decoration: none;
}

.dark .dropdown > ul > li > a {
  color: var(--neutral-100);
}

.dropdown > ul > li > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.dropdown > ul > li > a:active {
  background-color: rgba(0, 0, 0, 0.6);
}

.card {
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: #FFFFFF;
  color: var(--neutral-900);
}

.dark .card {
  background-color: var(--neutral-800);
  color: var(--neutral-100);
}

.card-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.w\-full {
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th:first-child {
  border-top-left-radius: 4px;
}

.table th:last-child {
  border-top-right-radius: 4px;
}

.table tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

.table tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

.table td, .table th {
  min-width: 100px;
  padding: 0.7rem 0.4rem;
}

.table td {
  word-wrap: break-word;
  max-width: 50%;
  text-align: center;
}

.table tr {
  background-color: var(--neutral-300);
}

.dark .table tr {
  background-color: var(--neutral-900);
}

.table tbody tr:nth-child(odd) {
  background-color: var(--neutral-100);
}

.table tbody tr:nth-child(even) {
  background-color: var(--neutral-200);
}

.dark .table tbody tr:nth-child(odd) {
  background-color: var(--neutral-600);
}

.dark .table tbody tr:nth-child(even) {
  background-color: var(--neutral-700);
}

.modal {
  display: none;
  padding: 1rem;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
  justify-content: center;
  align-items: center;
}

.modal.open {
  display: flex;
}

.modal > .card {
  max-width: 768px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .md\:hidden {
    display: none !important;
  }
}