.toggle-switch {
  position: relative;
  width: 80px;
}

.toggle-switch label {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: var(--neutral-800);
  border-radius: 50px;
  cursor: pointer;
}

.toggle-switch input {
  position: absolute;
  display: none;
}

.toggle-switch .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

.toggle-switch input:checked ~ .slider {
  background-color: var(--neutral-200);
}

.toggle-switch .slider::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: inset 8px -4px 0 0 var(--neutral-200);
  background-color: var(--neutral-800);
  transition: 0.3s;
}

.toggle-switch input:checked ~ .slider::before {
  transform: translateX(40px);
  background-color: var(--primary-600);
  box-shadow: none;
}